html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  position: relative;
}
.container {
  /* max-width: 560px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: rgb(243, 251, 253); */
  position: absolute;
  top:0px;
  /* left:auto;
  right: auto; */
  transform:translate(50%);
}
