.form {
  border: 3px solid rgb(49, 105, 138);
  padding: 40px;
}

.input {
  max-width: 500px;
  height: 30px;
}

.label {
  max-width: 500px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
